---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Personal Details"
	pubDate={new Date('Dec 3 2025')}
	heroImage="/cat.jpg"
>
	<p>
		This section is just about me personally. If I have my own website, I deserve to talk a little bit about my interests </br>
		I like playing video games in my free time. Some of my favorite games are Stardew Valley, Rune Factory, and Spiritfarer.
		My ideal weekend is playing cozy games while huddled in a blanket. 
		</br>
		I don't just like growing plants in games, I'm actually an avid garderner in real life. I'm currently working on growing some tea trees right now.
		I started these tea trees from seeds I bought through the mail and germinated in my dorm room. I thought they were dead at first because my first batch of seed failed
		but I tried again using a cup with a lid to create a humid environment and it was extremely successful. Pretty much every seed germinated.
		There are a ton of guides online about how to germinate tea tree seeds but if they are cold stratified, you can just throw them into a wet paper towel and put them in a plastic bag.
		Make sure ventilate the bag so the seeds don't rot.
		</br>
		One way I like to keep my life interesting is to buy disgusting soda flavors. I like the limited edition flavors that are just a marketing gimmick.
		Although they taste bad, I think it so fresh and exciting. Besides, I can stomach a bad tasting soda since they add so much sugar to it. One time my mom
		bought 3 boxes of peeps pepsi to support my interest. I got to share the experience of bad tasting soda with my whole family.
		</br> 
		Anyways to close out, I'll share two bits of wisdom my dad shared with me.
		<blockquote> We give to those who have less than us since we have the power to help </blockquote>
		and 
		<blockquote>When you kill someone, make sure to kill their entire family so no relatives can seek revenge</blockquote>
	</p>
</Layout>
