---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
	</head>
	<body>
		<Header />
		<main>
			<style>
			.container{
				display: flex;

			}
			.intro {
				float: left;
				margin-left:-200px;
			}
			.content{
				float:right;
				margin-left:-400px;

			}
			</style>
			<div class="container">
				<div class = "intro">
					<h3 style="text-align:left;" >Karen Li</h3>
					<img src = "/kitty.png" alt = "A real pic of me irl" style="width:15%;display: block;" >
					<h5 style="color:#e21833; text-align:left;">University of Maryland </h5>
					<h5 style="color:#ffd200">College Park</h5>
					<h5 style="text-align:left;font-size: 20px;">BS Computer Science</h5>
					<h5 style="text-align:left;font-size: 20px;">Junior</h5>
				</div>
				<div class="content">
				<h5 style="margin-top:20px;">Who Am I?</h5>
				<p>I am a computer science student currently working as an IT Intern with the NIH</p>
				<p>I'm interested in:</p>
				<ul>
					<li>Software Engineering</li>
					<li>Mobile App Development</li>
					<li>Data Science</li>
				</ul>
				<p>This website is mainly used for showcasing previous projects</p>
				</div>
			</div>
			<div style="clear: both;"></div>

		</main>
		<Footer />
	</body>
</html>
